* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    padding: 0 50px;
    background-color: rgb(163, 163, 163);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header,
.intro,
.gallery,
.signup {
    padding: 30px 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    gap: 10px;
}

.header .logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.linklist {
    display: flex;
    list-style: none;
    gap: 10px;
}

.linklist a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.intro {
    display: flex;
    background-color: #1f2937;
    gap: 10px;
}

.intro .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.intro .right {
    flex: 1;
    background-color: #9a9898;
}

.intro .title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder
}

.intro p {
    color: #e5e7eb;
    font-size: 18px;
}

.intro button {
    color: #f9faf8;
    border-color: #3882f6;
    background-color: #3882f6;
    padding: 2px 20px;
    border-radius: 8px;
}

.intro img {
    color: #e5e7eb;
}

.info {
    text-align: center;
    padding-top: 20px;
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    background-color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background-color: white;
}

.detail {
    text-align: center;
    width: 150px;
    height: 250px;
    margin: 0 20px;
}

.detail img {
    border: 3px solid #3882f6;
    border-radius: 10px;
    min-width: 150px;
    min-height: 150px;
}

.message {
    background-color: #e5e7eb;
    padding: 40px 80px;
}

.comment {
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

.name {
    padding-right: 15px;
    text-align: end;
    font-size: 24px;
    font-weight: bold;
}

.signup {
    background-color: white;
    display: flex;
    justify-content: center
}

.signup .left,
.signup .right {
    display: flex;
    background-color: #3882f6;
    padding: 15px 50px;
    justify-content: center;
}

.signup .left {
    flex: 1;
    flex-direction: column;
}

.signup .title {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.signup p {
    color: #e5e7eb;
    font-size: 18px;
}

.signup .right {
    align-items: center;
}

.signup button {
    background-color: #3882f6;
    padding: 5px 20px;
    color: #f9faf8;
    border: 2px solid white;
    border-radius: 5px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 20px;
}